.card {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    margin: 3rem 2rem;

    box-shadow: 0px 13px 20px rgba(0, 0, 0, .4);
}

.card span {
    font-family: 'Fira Code', serif;
    color: #00ff9f;
}

.card div {
    min-height: 10rem;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    line-height: 1.6;

    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.contactType input {
    font-family: 'Roboto' sans-serif;
    font-size: 1.1rem;
    width: 100%;
    line-height: 1.2rem;
    padding: .7rem;
    margin: 1rem 0;
}

.contactType textarea {
    font-size: 1.1rem;
    height: 10rem;
    width: 100%;
    resize: none;

    padding: .7rem;
}

.contactType input[type=submit] {
    background: #003b6f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;

    transition: .5s;
}

.moreLink {
    display: none;
    background-color: #003b6f;
    border-radius: 8px;

    font-family: 'Roboto', sans-serif;

    color: white;

    align-self: center;
    padding: 1rem;
    margin-bottom: .5rem;

    transition: .5s;
}

:is(.moreLink, .contactType input[type=submit]):hover {
    background-color: #004b7f;
}