.jobCard {
    display: flex;
    flex-direction: column;
    max-height: 25rem;

    background: #2e2e2e;
    padding: 1rem;
    margin: 2rem 0;

    justify-content: center;
    align-items: center;

    border-radius: 1.5rem;

    transition: .4s;
}

.jobCard:hover {
    background: #363636;
}

.jobCard img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

    margin-top: 1.3rem;

    background: black;

    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.jobCard div {
    text-align: center;
}

.jobCard div h2 {
    font-size: 1.2rem;
}

.jobCard div small {
    color: #ff4444;
}

.jobCard div div {
    margin-top: 1rem;
    height: 10rem;
    overflow: auto;
}

@media (min-width: 770px) {
    .jobCard {
        flex-direction: row;
        align-items: baseline;

        max-height: none;
    }

    .jobCard img {
        width: 9rem;
        height: 9rem;

        margin-left: 1rem;

    }

    .jobCard div {
        text-align: center;
    }

    .jobCard div div {
        text-align: justify;
        height: fit-content;
        overflow: auto;
    }

    .jobCard div h2 {
        text-align: center;
        font-size: 1.7rem;
    }
}